.table-list-item{
    width: 15rem;
    height: 6rem;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.table-list-item:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.table-list-item .table-name{
    margin: auto;
}

.table-list-item a{
    width: 100%;
    height: 100%;
}